body{
    font-family: Arial, Helvetica, sans-serif; 
    background: linear-gradient(90deg, rgba(92,149,131,1) 0%, rgba(224,191,191,1) 91%);
    color: white;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 15px;
    height: 2.4rem;
    border-radius: 1rem;
    border: none;
    color: white;
    background: black;
    font-size: 1.3rem;
    font-weight: bold;

}

button:hover{
    border: 2px solid white;
    cursor: pointer;
}

button:active{
    border: none;
}
label{
    padding: 10px;
    font-weight: bold;
}
input{
    border-radius: 1rem;
    padding: 10px;
    margin: 10px;
}

form{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
}